@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  html {
    font-family:
      'Pretendard',
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Noto Sans',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      'Noto Color Emoji' !important;
    line-height: normal;
  }

  #root {
    max-width: 420px;
    min-height: 100vh;
    background: black;
    margin-left: 50%;
  }

  .scrollable-container {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
    -webkit-overflow-scrolling: touch; /* iOS smooth scrolling */
    scroll-snap-type: x mandatory; /* Optional: Snap to grid on x-axis */
    scroll-behavior: smooth; /* Optional: Smooth scrolling behavior */
    white-space: nowrap;
  }

  .scrollable-container::-webkit-scrollbar {
    display: none; /* Safari/Chrome/Opera */
  }

  html,
  body {
    height: 100%;
  }
}

/* styles.css (또는 원하는 파일) */
