@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #root {
        max-width: 420px;
        min-height: 100vh;
        background: black;
        margin-left: 50%;
    }
}
